:root {
  --1: #0f1014ff;
  --2: #202932ff;
  --3: #c4c7c9ff;
  --4: #67fdf1ff;
  --5: #45a39eff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: var(--1);
}

.header {
  height: 60px;
  width: 100%;
  padding: 0px 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: var(--2);
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 70px;
}

.header img {
  height: 70%;
  fill: aliceblue;
}

.navbar-link {
  text-decoration: none;
  color: aliceblue;
  font-weight: 500;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.navbar img {
  height: 4rem;
  cursor: pointer;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#hero {
  display: flex;
  padding: 70px 0px;
  width: 90%;
  justify-content: space-around;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 40px;
}

.hero-info h1 {
  font-weight: 900;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  color: var(--3);
}

.hero-info p {
  font-weight: 300;
  font-size: 14px;
  max-width: 350px;
  color: var(--3);
}

.buttons {
  display: flex;
  gap: 15px;
}

.buttons a {
  text-decoration: none;
  border: 3px solid var(--3);
  border-radius: 20px;
  padding: 8px 15px;
  font-size: 12px;
  font-weight: 600;
}

.button1 {
  background-color: var(--3);
  color: var(--1);
}

.button2 {
  background-color: var(--1);
  color: var(--3);
}

.hero-img {
  width: 475px;
  border-radius: 10px;
}

#nosotros {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  max-width: 850px;
  padding: 30px 0px;
  font-weight: 300;
  text-align: center;
  color: var(--3);
}
