* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.header {
  height: 80px;
  width: 100%;
  padding: 0px 50px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 8px 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar ul {
  display: flex;
  list-style: none;
  gap: 100px;
}

.header img {
  height: 80%;
}

.navbar-link {
  text-decoration: none;
  color: #b09245;
  font-weight: 600;
}

body {
  background-color: #1d181b;
}
